* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header img {
    height: 80px;
}
body {
    background-image: url(images/Madeira\ background.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {color: #ffffff;
    font-size:large;
    overflow: hidden;
    position: fixed;
    float: right;
}


header * {
    display: inline;
}